<div style="background-color: green; color: white; padding: 10px; text-align: center">
  <h1>Jóvenes Emprendedores Colombianos</h1>
</div>

<div class="container">

    <div style="display: flex; gap: 15px; overflow-x: auto; margin-top: 15px; padding-bottom: 10px;">
    
    <div *ngFor="let emprendedor of emprendedores"[routerLink]="['/emprendedores', emprendedor.id]"style="cursor: pointer; text-align: center;">
      <img [src]="emprendedor.foto_url" alt="{{ emprendedor.nombre }}" style="width: 120px; height: auto; border-radius: 6px;">

      <h3 style="color: green; font-weight: bold; margin-top: 10px;">{{ emprendedor.nombre }}</h3>

        <p><strong>Género:</strong> {{ emprendedor.genero }}</p>
        <p><strong>Pregrado:</strong> {{ emprendedor.pregrado }}</p>
        </div>

    </div>

    <button style="background-color: green;color: white;">
            Total Emprendedores: {{ emprendedores.length }}
    </button>
</div>
